.header {
    background-color: black;
    

    .menu {

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 5vh;
            list-style-type: none;

            li, a {
                color: white;
                text-decoration: none;
                padding: 1rem;
            }           
        }   
        
    }
}

@media screen and (max-width: 375px) {
    
    .header {
        width: 100%;

        .menu {
            
            ul {
                .collapse {
                    display: none;
                }
            }
            
        }
    }
}